{% extends "base.html"%}
{% block title %}Home{% endblock %}



{% block content%}

<style>
    .parent{
        white-space: nowrap;
    }
    .child {
        display:inline-block;
    }
    .noshow {
        all: unset;
        cursor: pointer;
    }

    .vl {
        border-right: 1px solid gray;
        height: 100;
    }

</style>

<div class="container-fluid">


    <div class="container-fluid ml-1" style="width:300px">
        <form method="post">
        <div class="h-100">
            <div class="child">
                <h2 class="ml-2 mr-3">Chats</h2>
            </div>
            <div class="child ml-5">
                <button class="btn" type="submit"><h2 class="ml-5 fa fa-edit"></h2></button>
            </div>
        </div>
        </form>
        
            {% for i in friends %}
            <form method="post">
            <div class="" >
                
                    <button id="{{i[2]}}" name="{{i[2]}}" value="{{i[2]}}" type="submit" class="noshow">
                    <img onclick="gotoUser('{{i[2]}}')" src="/static/images/{{i[1]}}.png" width="25px" height="25px" class="rounded-circle child mr-3 ml-2">
                    <a onclick="gotoUser('{{i[2]}}')" class="child" id="user" name="user" value="{{i[2]}}"><br>{{i[0]}}</a><br>
                    <textarea name="user" id="user" hidden>{{i[2]}}</textarea>
                    </button>
                
            </div>
            </form>
            {%endfor%}
        </div>
        <div class="vl"></div>
        

        

    </div>

    


<!-- 
    


    <div class="container flex-fill ml-5">
        <div class="row mt-3">
        
        </div>
        <div class="row" style="height: 100px">
            <div>
            </div>
        </div>
    </div>
-->
</div>
{% endblock%}