{% extends "base.html"%}
{% block title %}Home{% endblock %}



{% block content%}

<style>
    .child {
        display:inline-block;
    }

    .right {
        margin-left:auto;
        margin-right: 0;
        text-align: right;
    }

    .left {
        margin-left: 0; 
        margin-right: auto;
        text-align: left;
    }

    .noshow {
        all: unset;
        cursor: pointer;
    }

    .rheight {
        min-height: 70vh;
        max-height: 70vh;
        display: flex;
        flex-direction: column-reverse;
    }

    html {
        overflow: hidden;
        height: 100%;
    }

    .list-group-item {
        font-size: 18px;
    }

    .mmwidth {
        min-width: 35vh;
        max-width: 100vh;
    }

</style>


<div class="container-fluid d-flex" >

    <form method="post">
        <div class="container-fluid ml-1 border-right min-vh-100 mmwidth">
            <div class="h-100">
                <div class="child">
                    <h2 class="ml-2 mr-3">Chats</h2>
                </div>
                <div class="child ml-5">
                    <button class="btn" type="submit"><h2 class="ml-5 fa fa-edit"></h2></button>
                </div>
            </div>
        </form>
        {% for i in friends %}
        <form method="post">
        <div class="" >
                <button id="{{i[2]}}" name="{{i[2]}}" value="{{i[2]}}" type="submit" class="noshow">
                <img onclick="gotoUser('{{i[2]}}')" src="/static/images/{{i[1]}}.png" width="25px" height="25px" class="rounded-circle child mr-3 ml-2">
                <a onclick="gotoUser('{{i[2]}}')" class="child" id="user" name="user" value="{{i[2]}}"><br>{{i[0]}}</a><br>
                <textarea name="user" id="user" hidden>{{i[2]}}</textarea>
                </button>
                <br>
        </div>
        </form>
        {%endfor%}
        </div>


    <div class="container flex-fill ml-5">
        <div class="row mt-3">
            <div class="mr-3">
                <img class="rounded-circle child" width="40px" height="40px" src="/static/images/{{rec_name}}.png" alt="anyad">
                <p class="ml-3 mt-3 text-primary child">{{rec_Names}}</p>
            </div>
            
        </div>
        <div id="reload" >
        <div  class="row overflow-auto rheight h-auto" >
            <div class="w-100" id="here" hx-get="/t/{{reciever}}" hx-swap="innerHTML" hx-trigger="every 5s" hx-swap-oob="true">
                {% for m in messages %}
                    {% if m[2] == sender %}
                    <div class="right">
                        <li class="list-group-item border-0 child">{{ m[0] }}<br></li>
                        <img src="/static/images/{{pic}}.png" width="30px" height="30px" class="rounded-circle child ml-2">
                        <br><br>
                    </div>
                    {% elif reciever == m[2] %}
                    <div class="left">
                        <img src="/static/images/{{rec_name}}.png" width="30px" height="30px" class="rounded-circle child mr-2">
                        <li class="list-group-item border-0 child">{{ m[0] }}</li>
                        <br><br>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="row mt-1">
            <form method="POST">
                <div class="form-group green-border-focus">
                    <textarea class="form-control" name="message" id="message" cols="180" rows="2" placeholder="Message" onkeydown="search('mbutton')"></textarea>
                    <button id="mbutton" name="mbutton" type="submit" hidden></button>
                </div>
            </form>
        </div>
        
    </div>
</div>
{% endblock%}